{% extends 'myapp/base.html' %}

{% block body_block %}
 {% if topiclist %}
        <h2>List of Topics</h2>
        <ul>

               {% for topic in topiclist %}

                   <li> <a class="linkref" href="{% url 'myapp:topicdetail' topic.id %}">{{topic.subject}}</a>
                   </li>

               {% endfor %}
        <br />
            <a href="{% url 'myapp:addtopic' %}">Add a new Topic</a>

        </ul>

    {% else %}
        <strong>There are no available Topics!</strong>
    {% endif %}

{% endblock %}
